.inputStyle{
    border-radius:4px; 
    font-size: 0.9rem;
  font-weight: 600;
  border:1px solid #657786;

  height: 40px;
  padding:  30px 10px;
 margin:0;
  line-height:1.5;
  width: 100%
}
::placeholder{
    color: #AAB8C2;

}
