$primary: #1DA1F2;
$secondary: #657786;
$success: #5D6D79;
$info: #E1E8ED;
$light: #F5F8FA;
$dark: #15202B;



// this is used to map colors. change accordingly.

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,

  "light": $light,
  "dark": $dark,

);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
